@model Automarket.Domain.ViewModels.PerfectHealth.PerfectHealthViewModel

<form id="formSaveUser">
    <div class="row">
        <div class="form-group col-md-4">
            <label asp-for="@Model.Temperature" class="col-form-label text-black-50"></label>
            <input asp-for="@Model.Temperature" type="text" class="form-control">
        </div>
        <div class="form-group col-md-4">
            <label asp-for="@Model.BloodPressure" class="col-form-label text-black-50"></label>
            <input asp-for="@Model.BloodPressure" type="text" class="form-control">
        </div>
        <div class="form-group col-md-4">
            <label asp-for="@Model.GUrineAnalysis" class="col-form-label text-black-50"></label>
            <input asp-for="@Model.GUrineAnalysis" type="text" class="form-control">
        </div>
        <div class="form-group col-md-4">
            <label asp-for="@Model.GBloodTest" class="col-form-label text-black-50"></label>
            <input asp-for="@Model.GBloodTest" type="text" class="form-control">
        </div>
        <div class="form-group col-md-4">
            <label asp-for="@Model.Cholesterol" class="col-form-label text-black-50"></label>
            <input asp-for="@Model.Cholesterol" type="text" class="form-control">
        </div>
        
        
    </div>
</form>
