@using Automarket.Domain.Entity
@model Automarket.Domain.ViewModels.Profile.ProfileViewModel

@{
    ViewBag.Title = "Профиль";
    Layout = "_Layout";
}
<br />
<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <form id="profileFormId">
                    <input asp-for="Id" hidden="hidden"/>
                    <h5 class="card-title">Данные профиля</h5>
                    <div class="mb-3">
                        <label class="form-label text-black-50">Возраст</label>
                        <input type="text" class="form-control" asp-for="Age">
                        <div class="form-text">Возраст должен быть указан от 0 до 150 лет.</div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label text-black-50">Адрес</label>
                        <textarea class="form-control" asp-for="Address" rows="3"></textarea>
                        <div class="form-text">Длина адреса должна быть от 5 до 200 символов.</div>
                    </div>
                    <div class="card-buttons-group">
                        <button class='btn btn-primary' id='saveProfileId'>Сохранить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
     <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <form id="accountFormId">
                    <h5 class="card-title">Данные аккаунта</h5>
                    <div class="mb-3">
                        <label class="form-label text-black-50">Логин</label>
                        <input type="text" class="form-control" asp-for="UserName" disabled="disabled">
                        <div class="form-text">Длина логина должна быть от 3 до 20 символов.</div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label text-black-50">Новый пароль</label>
                        <input name="NewPassword" class="form-control textbox-dg font-weight-bold text-center" type="password">
                    </div>
                    <div class="card-buttons-group">
                        <button class='btn btn-primary' id='saveAccountId'>Сохранить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <form id="profileFormAnalyzes">
                    <input asp-for="Id" hidden="hidden"/>
                    <h5 class="card-title">Ваши анализы</h5>
                    <div class="mb-3">
                        <label class="form-label text-black-50">Температура</label>
                        <input type="text" class="form-control" asp-for="Temperature">
                        @* <div class="form-text">Возраст должен быть указан от 0 до 150 лет.</div> *@
                    </div>
                    <div class="mb-3">
                        <label class="form-label text-black-50">Давление</label>
                        <input type="text" class="form-control" asp-for="BloodPressure">
                        @* <div class="form-text">Возраст должен быть указан от 0 до 150 лет.</div> *@
                    </div>
                    <div class="mb-3">
                        <label class="form-label text-black-50">Анализ мочи</label>
                        <input type="text" class="form-control" asp-for="GUrineAnalysis">
                        @* <div class="form-text">Возраст должен быть указан от 0 до 150 лет.</div> *@
                    </div>
                    <div class="mb-3">
                        <label class="form-label text-black-50">Анализ крови</label>
                        <input type="text" class="form-control" asp-for="GBloodTest">
                        @* <div class="form-text">Возраст должен быть указан от 0 до 150 лет.</div> *@
                    </div>
                    <div class="mb-3">
                        <label class="form-label text-black-50">Холестерин</label>
                        <input type="text" class="form-control" asp-for="Cholesterol">
                        @* <div class="form-text">Возраст должен быть указан от 0 до 150 лет.</div> *@
                    </div>
                        
                    <div class="card-buttons-group">
                        <button class='btn btn-primary' id='saveProfileAnalyzes'>Сохранить</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
    
    <div class="col-sm-6">
        <div class="card p-3">
            @if (Model.Recommendations != null)
            {
                <h5 class="card-title mt-1">Ваши рекомендации</h5>
                <table class="table table-striped">
                    <thead class="table-light table-fixed">
                    <tr>
                        <th scope="col" class="col-sm-2">Автор</th>
                        <th scope="col" class="col-sm-8">Описание</th>
                        <th scope="col" class="col-sm-2">#</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var recommendations in Model.Recommendations)
                    {

                        <tr>
                            <th scope="row">@recommendations.Author</th>
                            @* <td>@recommendations.Description.Substring(0, 3) ...</td> *@
                            <td>@recommendations.Description</td>
                            <td>
                                <a class="btn btn-sm btn-primary" asp-controller="Recommendation" asp-action="GetRecommendation" asp-route-id="@recommendations.Id">Подробнее</a>
                                @if (User.IsInRole("Admin"))
                                {
                                    <a class="btn btn-sm btn-danger" asp-controller="Profile" asp-action="DeleteRecommendation" asp-route-id="@recommendations.Id">Удалить</a>
                                }
                            </td>

                        </tr>
                    }
                    </tbody>
                </table>
            }
            else
            {
                <h5 class="card-title mt-1">У вас ещё нет рекомендаций</h5>
            }
            @if (User.IsInRole("Admin"))
            {
                <div class="card-buttons-group">
                    <button class='btn btn-success' id='addRecommendation' >Добавить</button>
                </div>

            }
        </div>
    </div>
</div>

@section pageScripts
{
    <script>     
        $('#saveProfileId').on('click', function (e) {
            e.preventDefault();
            const data = $('#profileFormId').serialize()
            $.ajax({
                url: '@Url.Action("Save", "Profile")',
                type: 'POST',
                data: data,
                success: function (response) {
                    Swal.fire({
                        title: 'Информация',
                        text: response.description,
                        icon: 'success',
                        confirmButtonText: 'Окей'
                    })
                },
                error: function (data) {
                    Swal.fire({
                        title: 'Информация',
                        text: 'Ошибка валидации',
                        icon: 'error',
                        confirmButtonText: 'Окей'
                    })
                }
            });
        });
        
        $('#saveProfileAnalyzes').on('click', function (e) {
                    e.preventDefault();
                    const data = $('#profileFormAnalyzes').serialize()
                    $.ajax({
                        url: '@Url.Action("SaveAnalyzes", "Profile")',
                        type: 'POST',
                        data: data,
                        success: function (response) {
                            Swal.fire({
                                title: 'Информация',
                                text: response.description,
                                icon: 'success',
                                confirmButtonText: 'Окей'
                            })
                        },
                        error: function (data) {
                            Swal.fire({
                                title: 'Информация',
                                text: 'Ошибка валидации',
                                icon: 'error',
                                confirmButtonText: 'Окей'
                            })
                        }
                    });
                });
        
        $('#saveAccountId').on('click', function (e) {
            e.preventDefault();
            
            $('#UserName').removeAttr('disabled')
            const data = $('#accountFormId').serialize()
            $('#UserName').attr('disabled', 'disabled')
            
            $.ajax({
                url: '@Url.Action("ChangePassword", "Account")',
                type: 'POST',
                data: data,
                success: function (response) {
                    Swal.fire({
                        title: 'Информация',
                        text: response.description,
                        icon: 'success',
                        confirmButtonText: 'Окей'
                    })
                },
                error: function (response) {
                    Swal.fire({
                        title: 'Информация',
                        text: response.responseJSON.errorMessage,
                        icon: 'error',
                        confirmButtonText: 'Окей'
                    })
                }
            });
        });
    </script>
    
    <script src="~/js/modal.js"></script>
    <script src="~/js/modal2.js"></script>
    <script>
            let modal = $('#modal'); 
            
            $('#addRecommendation').on('click', function () {
               $.ajax({
                  type: 'GET',
                  url : '@Url.Action("SaveRecommendation")',
                  data: '@Model.UserName',
                  success: function (response) {
                      modal.find(".modal-body").html(response);
                      modal.modal('show')
                  },
                  failure: function () {
                    modal.modal('hide')
                  }
              });
           });
            
           $('#saveBtn').on('click', function () {
               const data = $('#formSaveRecommendation').serialize()
               $.ajax({
                   type: 'POST',
                   url: '@Url.Action("SaveRecommendation")',
                   data: data,
                   success: function (data) {
                       Swal.fire({
                           title: 'Информация',
                           text: data.description,
                           icon: 'success',
                           confirmButtonText: 'Окей'
                       })
                   },
                   error: function (response) {
                       Swal.fire({
                           title: 'Информация',
                           text: response.responseJSON.errorMessage,
                           icon: 'error',
                           confirmButtonText: 'Окей'
                       })
                   }
               })
          });
    </script>
}
