@model List<Automarket.Domain.ViewModels.Profile.ProfileViewModel>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

@if (Model == null)
{
    <div class="card col-md-12 mt-4">
        <div class="row g-0">
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title ">Список пуст :(</h5>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div style="padding: 5px;"></div>
    <div class="card col-md-12">
        <table class="table table-striped">
            <thead class="table-light w-auto">
                <tr>
                    <th scope="col">Имя</th>
                    <th scope="col">Температура</th>
                    <th scope="col">Давление</th>
                    <th scope="col">Общий анализ мочи</th>
                    <th scope="col">Общий анализ крови</th>
                    <th scope="col">Холестерин</th>
                    <th scope="col">#</th>
                </tr>
            </thead>
            <tbody>
            @foreach (var profile in Model)
            {

                <tr>
                    @* ReSharper disable once HeapView.BoxingAllocation *@
                    <th scope="row">@profile.UserName</th>
                    @* ReSharper disable once HeapView.BoxingAllocation *@
                    <td>@profile.Temperature</td>
                    <td>@profile.BloodPressure</td>
                    <td>@profile.GUrineAnalysis</td>
                    <td>@profile.GBloodTest</td>
                    @* ReSharper disable once HeapView.BoxingAllocation *@
                    <td>@profile.Cholesterol</td>
                    <td>
                        <a class="btn btn-sm btn-primary" asp-controller="Profile" asp-action="Detail" asp-route-userName="@profile.UserName">Подробнее</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
}
