@model Automarket.Domain.ViewModels.Recommendation.RecommendationViewModel

@{
    ViewBag.Title = "Рекоммендация";
    Layout = "_Layout";
}

<div class="row pt-4">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <input asp-for="Id" hidden="hidden"/>
                <div class="mb-3">
                    <label class="form-label text-black-50">@Model.AuthorName</label>
                </div>
                <div class="mb-3">
                    <label class="form-label text-black-50">@Model.PatientName</label>
                </div>
                <div class="mb-3">
                    <label class="form-label text-black-50">@Model.Description</label>
                </div>
                <div class="mb-3">
                    <label class="form-label text-black-50">@Model.DateCreate</label>

                </div>
                
                @if (User.IsInRole("Admin"))
                {
                    <div class="card-buttons-group">
                        <a class="btn btn-success" asp-controller="Recommendation" asp-action="Edit" asp-route-id="@Model.Id" style="font-family:'Comic Sans MS'; font-weight: bold;">
                            Редактировать
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
